 :root{
--vermelho: #7a071b;
--branco: #ffffff;
 }
 
 body{
    background-color: var(--vermelho);
    color: var(--branco);
}

img{
    width:20%;
}
header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.img-foto-1-casal{
    width: 20%;
}

.foto-1-casal{
    display: flex;
    margin: 8px;
}
.equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.foto-equipe{
    width: 40%;
}