@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root {
     --branco: #fdfdfd;
     --preto: #000000;
 }

 body {
     background-color: var(--branco);
     color: var(--preto);
     .merriweather-bold {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
      }
      
 }

 img {
     width: 20%;
 }

 header {
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     background-color: #afa2a2;
     align-items: center;
 }

 #equipe {
     display: grid;
     grid-template-columns: 33% 33% 33%;
     text-align: center;
 }

 .foto-equipe {
     width: 40%;
 }

 .pessoa {
     border: 3px solid var(--preto);
     margin: 12px;
 }

 footer {
     background-color: #afa2a2;
     color: #000000;
 }

 a {
     color: #000000;
     text-decoration: none;
 }

 .mistura {
     display: grid;
     grid-template-columns: 45% 10% 45%;
     text-align: center;
     align-items: end;
 }