 :root{
--vermelho: #7a071b;
--branco: #ffffff;
 }
 
 body{
    background-color: var(--vermelho);
    color: var(--branco);
}

img{
    width:20%;
}
header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.img-foto-1-casal{
    width: 20%;
}